.mainMenuBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height:100%;
    justify-content: center;
    padding-left:5%;
}

.mainMenuBox h1 {
    font-size: 200%;
}

.adviceTitle {
    display: flex;
}

.adviceTitle span {
    font-size: 250%;
}

.newGame {
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 200%;
}

.joinGame {
    display: flex;
    padding-left: 5%;
    margin-top: 3%;
    font-size: 200%;
    align-items: center;
}

.joinSpoken {
    display: flex;
}

.underConstruction {
    display: flex;
    padding-left: 5px;
    align-items: center;
}

.contructionEmoji {
    font-size: 150%;
}

.comingSoon {
    font-size: 70%;
}

