 .mainMenu {
    display: flex;
    width: 100%;
    height: 100em;
    max-height: 100vh;
    justify-content: center;
 }

.mainMenu h1 {
     font-size: 200%;
}

.mainMenu p {
    font-size: 150%;
}

.mainMenuContainer {
    display: flex;
    flex-wrap: nowrap;
    width:90%;
    height: 100%;
}

.mainLeft {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 8em 0 0 0;
    width:50%;
}

.mainMenuBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 30% 0 0 0;

}

.adviceTitle {
    flex: 1 1 100%;
}

.adviceTitle span {
    font-size: 200%;
}

.newGame {
    flex: 1 1 100%;
    margin: 0 0 0 10%;
}

.newGame h1 {
     font-size: 300%;
     color: #FF4C6A;
}

.joinGame {
    flex: 1 1 100%;
    margin: 0 0 0 10%;
}

.joinGame h1 {
    font-size: 300%;
    color: #FF4C6A;
}

.mainRight {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 8em 0 0 0;
    width:50%;
}

.tipBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 27% 0 0 10%;
}

.tipTitle {
    display: flex;
    flex-wrap: nowrap;

}

.tipIcon {
    flex: 0 0 3%;
    align-self: center;

}

.infoIcon {
    width: 30px;
}

.tipWords {
    flex: 0 0 100%;
    align-self: center;
}

.tipTitle span {
    font-size: 200%;
}

.tipDetails {
    flex: 1 1 100%;
}

.tipReg {
    font-size: 150%;
}

.tipInfo {
    font-size: 150%;
    color: #007FFF;
}

.spoken {
    color: #FF4C6A;
    font-size: 150%;
}