
.timeDate {
    width:100%;
}

.timeDate h1 {
    margin: 0 0 0 0;
    font-size: 25px;
}

.timeDateContainer {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
}

.timeDateColumn {
    flex: 1 1 100%;
    text-align: right;
}

