.rosterBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height:100%;
    justify-content: center;
    padding-left:5%;
}

.rosterBox h1 {
    font-size: 250%;
}

.rosterMenu {
    display: flex;
    height: 80%;
    width: 70%;
    border: 5px solid #4A4A4A ;
    border-radius: 20px ;
    width:70%;
}

.rosterMenuContainer {
    display: flex;
    flex-direction: column;
    margin: 2% 2% 2% 2%;
    width:100%;
}

.rosterMenuTeamsContainer {
    display:flex;
    justify-content: space-around;
    width:100%;
    height:90%;
}

.rosterMenuTeamsContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.teamContainer {
    display: flex;
    flex-direction: column;
    width:35%;
    font-size: 180%;
}

.team1 {
    display: flex;
    background-color: #1ED26F;
    border-radius: 10px ;
    width:100%;
    height:15%;
    justify-content: center;
    align-items: center;   
}

.team2 {
    display: flex;
    background-color: #EFD638;
    border-radius: 10px ;
    width:100%;
    height:15%;
    justify-content: center;
    align-items: center;    
}

.teamRoster {
    display: flex;
    padding-top: 5%;
    justify-content: center;
    text-align: center;
}

.rosterMenuConfirmContainer {
    display: flex;
}

.rosterMenuConfirmText {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    
}

.settingRoster {
    font-size: 180%;
}