.active {
	font-weight: bold;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
} 

.alexa {
    color: #D7263D;
    font-size: larger;
}
