
.tipBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height:100%;
    padding-left:5%;
    width:80%;
}

.tipTitle {
    display: flex;
    flex-wrap: nowrap;
    width:150%;
}

.tipIcon {
    align-self: center;
}

.infoIcon {
    width: 35px;
}

.tipWords {
    align-self: center;
    padding-left: 1%;
}

.tipTitle span {
    font-size: 200%;
}

.tipDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 5%;
    width:150%;
}

.tipFirstSecion {
    padding-bottom: 5%;
}

.tipSecondSection {
    padding-bottom: 5%;
}

.tipReg {
    font-size: 180%;
}

.tipInfo {
    font-size: 180%;
    color: #007FFF;
}

.wakeWords {
    color: #6B5AFF;
    font-size: 180%;
}

.tipThirdSection {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}