
.hackerNews {
    width:100%;
}

.hackerNews table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    background-color: white;
}

.hackerNews table thead tr th {
    border: none;   
}

.hackerNews table tbody tr td {
    border: none;
}

.hackerNewsContainer {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
}

.hackerNewsColumn {
    flex: 1 1 100%;
    background-color: white;
}

.centeredColumn {
    text-align: center;
}

