
.weather {
    width:100%;
    color: #EED6A8;
}

.weather span {
    color: #EED6A8;
}

.weather h1 {
    margin: 0 0 0 0;
    font-size: 20px;
    color: #EED6A8;
}

.weatherContainer {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
}

.weatherIcon {
    display: flex;
    flex-wrap: nowrap;
    width:8%;
    justify-content: center;
}


.weatherDescription {
    display: flex;
    flex-wrap: wrap;
    width:92%;
    justify-content: flex-start;
}

.weatherSummary {
    flex: 1 1 100%;
    align-self: center;
}

.weatherTemp {
    flex: 1 1 100%;
    align-self: center;
}

/* Forecast  */

.forecast {
    width:100%;
    height: 100%;
    color: #EED6A8;
}

.forecastContainer {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    height:100%;
}

.largeDisplay {
    display: flex;
    background-color:grey;
    flex-grow: 6;
}

.smallDisplay {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 4;
}



.smallDisplayColumn {
    display: flex;
    flex-wrap: wrap;
    height:20%
}

.forecastSmallSummary {
    display: flex;
    flex-wrap: nowrap;
    width:50%;
    background-color: white;
}

.forecastSmallTitle { 
    flex: 1 1 100%;
}

.forecastSmallIcon { 
    flex: 1 1 50%;
}
