
.weatherWidget {
    width:100%;
}


.weatherWidget h1 {
    margin: 0 0 0 0;
    font-size: 20px;
}

.weatherWidgetContainer {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
}

.weatherWidgetIcon {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
}

.weatherWidgetSummary {
    align-self: center;
    justify-content: center;
}

.forecastContainer {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    height: 100%;
}

.largeDisplay {
    display: flex;
    background-color:grey;
    flex-grow: 6;
    height: 100%
}

.smallDisplay {
    display: flex;
    background-color: white;
    height: 100%;
    flex-grow: 3;
}

.weatherDescription {
    display: flex;
    flex-wrap: wrap;
    width:92%;
    justify-content: flex-start;
}

.weatherTemp {
    flex: 1 1 100%;
    align-self: center;
}

.appDisclaimer {
    color: #EED6A8;
}

