
.weatherWidget {
    width:100%;
}


.weatherWidget h1 {
    margin: 0 0 0 0;
    font-size: 20px;
}

.weatherWidgetContainer {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
}

.weatherWidgetIcon {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
}

.weatherWidgetSummary {
    align-self: center;
    justify-content: center;
}


.weatherDescription {
    display: flex;
    flex-wrap: wrap;
    width:92%;
    justify-content: flex-start;
}

.weatherSummary {
    flex: 1 1 100%;
    align-self: center;
}

.weatherTemp {
    flex: 1 1 100%;
    align-self: center;
}

/* Forecast  */

.forecast {
    width:100%;
    height: 100%;
    color: #EED6A8;
}

.forecastContainer {
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    height:100%;
}

.largeDisplay {
    display: flex;
    width:65%;
}

.smallDisplay {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    width:35%;
}

.smallDisplay table {
    width:100%
}

.smallDisplay h1 {
    font-size: 2em;
    margin: 0 0 0 0;
}

.smallDisplayColumn {
    display: flex;
    flex-wrap: nowrap;
    height:20%;
    align-items: center;
}

.forecastSmallDay { 
    display: flex;
    flex-wrap: wrap;
    width: 12em;
}

.forecastSmallSummary {
    display: flex;
    flex-wrap: wrap;
    width: 18em;
}

.forecastSmallIcon { 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.forecastSmallTitle { 
    flex: 1 1 100%;
    margin: 0 0 5px 0;
}

.forecastSmallTable {
    flex: 1 1 100%;
}


