.welcomeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}

.instructions {
    display: flex;
    text-align: center;
    width: 80%;
    font-size: 300%;
    padding-bottom: 5%;
}

.instructionsBox {
    flex: 1 1 100%;
}

.gAssistantIcon {
    width: 4%;
}
.gHomeIcon {
    width: 3%;
}

.connectCode {
    display: flex;
    text-align: center;
}

.connectCodeBox {
    display: flex;
}

.connectCodeBox h1 {
    font-size: 200%;
    
}

.connectCodeBox h2 {
    font-size: 200%;
    color: #6B5AFF;
}