

.spoken {
    display: flex;
    flex-wrap: nowrap;
    color: #FF4C6A;
    font-size: 180%;
}

.spokenBox {
    display: flex;
    align-self: center;
}

.spokenText {
    flex: 1 1 100%;
    padding-left: 5px;
    padding-top:4px;
}

.speechBubble {
    height: 18px;
    width: 18px;
}