/* ROUND 
---------------------
---------------------
*/

.roundBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.roundBox h1 {
    font-size: 250%;
}

/* RoundStart 
---------------------
---------------------
*/

.roundMessageBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height:100%;
    justify-content: center;
}

.roundMessageBox h1 {
    font-size: 300%;
    color: #007FFF;
}

.purpleText {
    color: #6B5AFF;
}

/* RoundResult 
---------------------
---------------------
*/

.roundResultBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height:100%;
    justify-content: center;
}

.roundResultBox h1 {
    font-size: 400%;
    color: #007FFF;
}


/* RoundTitleBar 
---------------------
---------------------
*/

.roundTitleBar_TeamOne{
    display: flex;
    background-color: #1ED26F;
    width: 20%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.roundTitleBar_TeamTwo{
    display: flex;
    background-color: #EFD638;
    width: 20%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

/* RoundQuestion
---------------------
---------------------
*/

.roundPlayer {
    display:flex;
    width: 80%;
    font-size: 200%;
    color: #007FFF;
    padding-bottom: 2%;
}

.roundQuestion {
    display:flex;
    width:70%;
    justify-content: center;
    text-align: center;
    font-size: 250%;
    padding-bottom: 3%;
}

.roundAnswers {
    display:flex;
    width: 70%;
    justify-content: center;
    color: #FF4C6A;
}

.answersRow {
    display:flex;
    flex-wrap: nowrap;  
}

.answersColumn {
    display:flex;
    height:30px;
    padding: 0 10px 0 10px;
}

/* RoundCorrectAnswer
---------------------
---------------------
*/

.correctContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width:100%;
    height: 100%;

}

.correctTitleBox {
    display: flex;
    align-self: center;
}

.correctTitleBox h1 {
    font-size: 300%;
    color: #007FFF;
}

.pointsBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    padding-top: 5%;
}

.playNext {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    align-self: center;
    width:809px;
}

.alignWithBar {
    display: flex;
    width:35%;
}

.bankPoints {
    display: flex;
    align-self: flex-start;
    width:809px;
    align-self: center;
}

.remaining {
    display:flex;
    align-items: center;
    font-size: 150%;
}

