
.dockContainer {
    width:100%;
    display: flex;
    flex-direction: row;
    color: #EED6A8;
}

.timeDateWidgetDock { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:50%;
    padding-top: 20px;
}

.dockSeparatorContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.dockSeparatorBox {
    width: 1px;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .dockSeparatorLine {
    position: absolute;
    width:100%;
    height: 40%;
    background: #EED6A8;
    top: 30%;
    box-shadow: 0px 0px 30px 20px #EED6A8;
  }

.weatherWidgetDock { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:50%;
    padding-top: 20px;
}




